.StackComponentContainer{
    /* padding: 15px; */
    margin: 20px;
    /* background: #020024; */
    /* border-radius: 20px; */
    /* background: linear-gradient(174deg,rgba(2, 0, 36, 1) 0%, rgb(30, 0, 85) 78%, rgb(0, 54, 65) 97%); */
    width:90%;
    display:flex;
    flex-direction: column;
    justify-content:space-around;
  
    background: rgba(17, 24, 39, 0.75); /* gris oscuro translúcido */
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255,255,255,0.08);
    border-radius: 16px;
    padding: 24px;
}


.ulStack{
    display: flex;
    /* align-items:flex-start; */
    justify-content:flex-start;
    list-style: none;
}

.liStack{
    font-size: 0.9rem;
    font-weight: 400;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(0, 5, 98);
    padding: 0.6rem;
    margin: 0px 10px; 
    border: 1px solid #09008d;
    border-radius: 20px;
    transition: background-color 0.5s ease 
}

.titleStack{
    font-size: 1.5rem;
    font-weight: 600;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    /* max-width:500px */
    margin:0;
}

.descriptionStack{
    font-size: 0.8rem;
    color: rgb(230, 230, 230);
    letter-spacing: 1px;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    /* max-width:500px */
}

.liStack:hover{
    background-color: rgba(0, 255, 255, 0.597);
    cursor: pointer;
    color: black;
}