
.pStyles{
    font-family: 'Times New Roman', Times, serif;
    color:aqua;
}

.boxStyles{
    width: 100%;
    height: 500px;
}

.presentationBox{
    background-color: #76bddd;
    display: flex;
    align-items: flex-start;
    padding-left: 10%;
    justify-content: center;
    flex-direction: column;
}

.introduction{
    /* padding-right: 20%; */
    max-width:500px;

}

.MyStatus{
    color: rgb(0, 253, 0);
}

.MyName{
    color: black;
}

.aboutBox{
    background-color: #1e7b90;
}
.projectsBox{
    background-color: #5c82db;
}
.stackBox{
    background-color: #5b0050;
}