
.subText{
    /* font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
    font-family: Roboto;
    letter-spacing: 0.05rem;
    color: rgb(0, 217, 255);
}

.boxStyles{
    width: 100%;
    /* height: 500px; */
}

.MyStatus{
    color: rgb(0, 253, 0);
}

.sloganText{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    /* color:rgb(255, 0, 0); */   
}

.MainText{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(255, 255, 255);
    font-size: 3rem;
    margin:0;
}

.aboutBox{
    background-color: #1e7b90;
}
.projectsBox{
    background-color: #5c82db;
}
.stackBox{
    background-color: #5b0050;
}