/* ejemplo de import para exportar estilos entre archivos .css::after

@import './global.css';

*/

.navStyles{
    /* flex-direction: column; */
    position:fixed;
    background-color: rgb(0, 86, 86);
    padding: 0.2rem;
    display: flex;
    width: 100%;
}

.ulStyles{
    display: flex;
    /* align-items:flex-start; */
    justify-content:space-around;
}

.liStyles{
    display:inline;
}

.aStyles{
    color:antiquewhite;
    background-color: rgb(58, 125, 234);
    font-weight: bold; 
    padding: 5px;
    margin: 10px;
    text-decoration: none;
}

.navChild{
    flex:1;
}

#myNameHome{
    padding-left: 15px;   
    user-select: none; 
    cursor: pointer;
}

.lastNameStyles{
    color: yellow;
}